.body{
	background : url("Sign_up.png") no-repeat center;  
	background-size: 100% 100%;
	/*margin-top: 300px;*/
	overflow-x: hidden;
	/*height:768px;*/
}

.outer{
	text-align: center;
	color: white;
	padding-top: 35%;
	padding-bottom: 80%;
	margin-right: -60px
}

.sign11{
	text-align: center;
	color: black;
	padding-top: 35%;
	/*padding-bottom: 80%;*/
	margin-left: -80px;
}

.line{
	width: 15px;
	height: 3px;
	background-color: white;
	border-radius: 30%;
	margin-bottom: 20px;
	margin-top: -10px;
}

.heading{
	font-size: 20px;
}

.writeup{
	font-size: 12px;
}

.left{
	margin-left: -180px;
	margin-bottom: -1px;
}

.round{
	width: 250px;
	border-radius: 20px;
	height: 30px;
	border: 1px #c5c6c7 solid;
	margin-bottom: 7px;
	padding-left: 15px;
	margin-left: -10px;
}